.section-search {
  width: 640px;
  height: 140px;
  background: white;
  margin: auto;
  color: var(--mainBlack);
  box-shadow: 0 10px 6px -6px;
}
.search-form {
  margin-top: 80px;
  /* text-align: center; */
}
.form-control {
  padding: 32px 40px;
}
h4 {
  padding-bottom: 15px;
  letter-spacing: 2px;
}
.input-form {
  width: 560px;
  height: 40px;
  border: none;
  background: #ececec;
  font-size: 20px;
}
