:root {
  --primaryColor: #476a2e;
  --mainSpacing: 0.3rem;
  --mainBlack: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f5f8;
  font-family: "Oxygen", sans-serif;
}

p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}
